<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/hibernate</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">15995169</property>
    <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
    <property name="show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.highlight_sql">true</property>
    <property name="hibernate.use_sql_comments">true</property>
    <mapping class="com.practice.hibernate.entity.User"/>
    <mapping class="com.practice.hibernate.entity.Category"/>
    <mapping class="com.practice.hibernate.entity.Priority"/>
    <mapping class="com.practice.hibernate.entity.Activity"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>