<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
        bean - это просто объект который создается и управляется Spring Container
    -->

    <context:property-placeholder
            location="classpath:myApp.properties"/> <!-- указываем файл в котором будут хранится значения для бинов -->

    <!-- IoC -->
    <!--
        init-method="init" метод инициализации при создании бина
        destroy-method="destroy" метод который будет вызван перед уничтожением бина
        для scope="prototype" метод destroy-method вызываться не будет
    -->
    <bean id="myPet"
          class="spring_introduction.Dog"
          init-method="init"
          destroy-method="destroy">
    </bean>

    <bean id="myPerson"
          class="spring_introduction.Person">
        <constructor-arg ref="myPet"/> <!-- constructor-arg аргументы конструктора, ref ссылка на объект -->
    </bean>

    <bean id="myPersonSet"
          class="spring_introduction.Person">
        <property name="pet" ref="myPet"/> <!-- DI создание зависимости через set, ref ссылка на объект -->

        <!-- hardcode -->
        <!-- <property name="surname" value="Alex"/>  вносим обычное значение через сеттер -->
        <!-- <property name="age" value="33"/>  вносим обычное значение через сеттер -->

        <property name="surname"
                  value="${person.surname}"/> <!-- вносим обычное значение через сеттер считывая из properties файла -->
        <property name="age"
                  value="${person.age}"/> <!-- вносим обычное значение через сеттер считывая из properties файла -->
    </bean>
</beans>